<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h1>User List</h1>
    </div>
    <div class="col text-end">
      <div class="btn-group border" role="group">
        <a class="btn btn-outline-secondary" routerLink="/users">ALL</a>
        <a class="btn btn-outline-secondary" routerLink="/users/admin" routerLinkActive="btn-info">Admins</a>
        <a class="btn btn-outline-secondary" routerLink="/users/client" routerLinkActive="btn-info">Clients</a>
        <a class="btn btn-outline-secondary" routerLink="/users/sales" routerLinkActive="btn-info">Sales</a>
        <a class="btn btn-outline-secondary" routerLink="/users/marketing" routerLinkActive="btn-info">Marketing</a>
        <a class="btn btn-outline-secondary" routerLink="/users/accounting" routerLinkActive="btn-info">Accounting</a>
        <a class="btn btn-outline-secondary" routerLink="/users/executive" routerLinkActive="btn-info">Executives</a>
      </div>
    </div>
    <div class="col-1 text-end">
      <button class="btn btn-primary" routerLink="/user/add"><fa-icon [icon]="faAdd"></fa-icon> Add</button>
    </div>
  </div>
  <app-generic-table [headers]="headers" [data]="getFilteredUsers()" (rowClicked)="handleRowClick($event)" [clickableColumns]="clickableColumns"></app-generic-table>
</div>
