<div class="filter-box btn-group">
  <button class="btn btn-light border"><fa-icon [icon]="faFilter"></fa-icon></button>
  <input class="form-control form-control-sm border" type="search" placeholder="Filter..." aria-label="Search" [(ngModel)]="searchTerm">
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let header of headers" (click)="onSort(header.key)" style="cursor: pointer;">
          {{ header.displayName }}
          <span *ngIf="sortColumn === header.key">
            {{ sortDirection ? '▲' : '▼' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of paginatedData" (click)="onRowClick(item)" style="cursor: pointer;">
        <td *ngFor="let header of headers">
          {{ item[header.key] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="pagination d-flex align-middle justify-content-end">
  <label for="pageSize" class="col-form-label col-form-label-sm me-2">Items&nbsp;per&nbsp;page:</label>
  <select id="pageSize" [(ngModel)]="pageSize" (change)="onPageChange(0)" class="form-select form-select-sm">
    <option *ngFor="let size of [5, 10, 20]" [value]="size">{{ size }}</option>
  </select>
  <span class="recordCount">
    {{ pageStart }} - {{ pageEnd }} of {{ totalRecords }}
  </span>
  <button (click)="onFirstPage()" [disabled]="currentPage === 0" class="btn border border-0"><fa-icon [icon]="faBackwardFast"></fa-icon></button>
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0" class="btn border border-0"><fa-icon [icon]="faBackwardStep"></fa-icon></button>
  <button (click)="onPageChange(currentPage + 1)" [disabled]="(currentPage + 1) * pageSize >= filteredData.length" class="btn border border-0"><fa-icon [icon]="faForwardStep"></fa-icon></button>
  <button (click)="onLastPage()" [disabled]="(currentPage + 1) * pageSize >= filteredData.length" class="btn border border-0"><fa-icon [icon]="faForwardFast"></fa-icon></button>
  <!--<span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>-->
</div>
