<nav *ngIf="isLoggedIn" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <fa-icon [icon]="faAngular"></fa-icon>
      DemoAngular
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Clients
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/clients">ALL</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/clients/internal">Internal</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/clients/external">External</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/clients/lead">Lead</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Users
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/users">ALL</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/users/admin">Admin</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/users/client">Client</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/users/sales">Sales</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/users/marketing">Marketing</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/users/accounting">Accounting</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/users/executive">Executive</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"
             href="#"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Work Items
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/workitems">ALL</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/workitems/user-story">User Story</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/workitems/task">Task</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/workitems/bug">Bug</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/workitems/epic">Epic</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/workitems/feature">Feature</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="d-flex btn-group" role="search">
        <input class="form-control border"
               type="search"
               placeholder="Search..."
               id="search"
               aria-label="Search" />
        <button (click)="search()"
                class="btn btn-outline-success me-2"
                type="submit">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </form>
      <button class="btn btn-outline-secondary" type="button" title="Logout" (click)="logout()">
        <fa-icon [icon]="faSignOut"></fa-icon>
      </button>

    </div>
  </div>
</nav>
